body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

header {
  text-transform: uppercase;
  text-align: right;
  color: #2d3c49;
  border-bottom: 2.5pt solid #7d97ad;
  padding: 5pt;
}

header img {
  position: absolute;
  text-align: right;
  top: 20px;
  left: 20px;
}

header h1 {
  font-weight: 100;
  font-size: 2.5em;
  margin-bottom: 0pt;
}

header h2 {
  font-weight: 500;
  font-size: 1em;
}

main {
  background-image: url("img/scenery_400px.jpg");
  background-repeat: repeat-x;
  padding-top: 400px;
}

@media screen and (max-width: 600pt) {
  main {
    background-image: url("img/scenery_200px.jpg");
    padding-top: 200px;
  }

  header h1 {
    font-weight: 100;
    font-size: 1.5em;
    margin-bottom: 0pt;
  }

  header h2 {
    font-weight: 500;
    font-size: 0.75em;
  }
}

@media screen and (max-width: 250pt) {
  header img {
    display: none;
  }
}

main h1 {
  margin: 3pt;
  font-weight: 100;
  font-size: 1.5em;
  color: #7d97ad;
  padding-left: 10pt;
}

#work-list {
  display: flex;
  flex-wrap: wrap;
}

div.project {
  border: 5px solid #2d3c49;
  margin: 5pt;
  padding: 0pt;
  width: 250pt;
  box-shadow: 3pt 4pt 4pt 1pt rgba(0, 0, 0, 0.2);
  text-align: center;
}

div.project:hover {
  border: 5px solid #7d97ad;
}

#memory-card-project {
  background-repeat: no-repeat;
  background-position: center;
}

#tampere-attractions-project {
  background-repeat: no-repeat;
  background-position: center;
}

div.project h1 {
  font-weight: 100;
  color: #2d3c49;
  margin: 4pt;
  text-transform: uppercase;
}

div.project img {
  margin: 2pt;
}

div.project-link {
  font-weight: 100;
  font-size: 0.9em;
  height: 25pt;
  padding: 5pt;
  background-color: #2d3c49;;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

footer {
  padding: 5pt 20pt;
  background-color: #2d3c49;
  color: white;
  margin: 0em;
  font-size: 0.8em;
  text-align: right;
}
